<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee     http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <display-name>page</display-name>
        <servlet-name>PageServlet</servlet-name>
        <servlet-class>servlet.PageServlet</servlet-class>
        <init-param>
            <param-name>layout</param-name>
            <param-value>/html/layout.html</param-value>
        </init-param>
        <init-param>
            <param-name>welcome</param-name>
            <param-value>/html/welcome.html</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ThankYouServlet</servlet-name>
        <servlet-class>servlet.ThankYouServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DonatesServlet</servlet-name>
        <servlet-class>servlet.DonatesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HelpServlet</servlet-name>
        <servlet-class>servlet.HelpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VKServlet</servlet-name>
        <servlet-class>servlet.VKServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>ThankYouServlet</servlet-name>
        <url-pattern>/thankyou</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DonatesServlet</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelpServlet</servlet-name>
        <url-pattern>/help</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageServlet</servlet-name>
        <url-pattern>/page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VKServlet</servlet-name>
        <url-pattern>/vk</url-pattern>
    </servlet-mapping>


</web-app>


