#vkfake {
    margin: auto;
    background: url("../img/vk-back.png") no-repeat;
    width: 972px;
    height: 593px;
}

#vkfake iframe {
    position: relative;
    overflow-y: hidden;
    left: 149px;
    top: 72px;
}