@import url("../font/FontAwesome/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Tenor+Sans&subset=latin,cyrillic");

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Tenor Sans', sans-serif;
    background-attachment:fixed;
}

#mainbody {
    background-image: url("../img/2jfe2uw.png");
    background-attachment:fixed;
}

#innerBody {
    text-align: center;
}

#frametable {
    height: 100%;
    width: 100%;
    border: 0;
}

#menucell {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25));
    background: -moz-linear-gradient(center top, #ffc477 5%, #fb9e25 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffc477', endColorstr = '#fb9e25');
    background-color: #ffc477;
}

#buttonscell {
    display: inline-block;
    float: right;
}

#contentd {
    vertical-align: top;
}

#content {
    height: 430px;
}

#myIframe {
    border: transparent 0;
    display: compact;
}

.donate {
    width: 280px;
    height: 210px;
    margin: 20px;
    background: white no-repeat center;
    background-size: cover;
    border: 3px solid #ffffff;
    box-shadow: 2px 2px 3px 2px gray;
    display: inline-block;
    text-align: center;
}

.btn_donate {
    bottom: 10px;
    margin-top: 75px;
    width: 60px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.hint {
    background-color: white;
    box-shadow: black 0 5px 20px -5px;
    font-size: 14px;
    color: #404040;
    height: 85px;
    padding-left: 7px;
    padding-top: 7px;
    padding-right: 7px;
    visibility: hidden;
    width: 275px;
    position: relative;
    left: -3px;
    top: -3px;
    text-align: left;
}

.icon-spinner {
    color: white;
    font-size: 35px;
    left: 50%;
    position: absolute;
    top: 235px;
    border: none;
    visibility: hidden;
}

.donate-home-link {
    position: absolute;
    bottom: 3px;
    right: 3px;
    margin-right: 4px;
    text-align: right;
    color: darkorange;
}

.donate-home-link a {
    color: darkorange;
    text-decoration: none;
}

#window {
    position: relative;
    width: 800px;
    left: 50%;
    margin-left: -400px;
}